<form id="add_event">
  <h2>Nowe wydarzenie</h2>
  <input
    type="text"
    id="title"
    name="title"
    placeholder="Dodaj tytuł"
    autocomplete="off"
    required
  />
  <span id="title_err" class="error"></span>
  <div>
    <i class="fa-regular fa-clock"></i>
    <input type="datetime-local" id="date" name="date" required />
    <span id="date_err" class="error"></span>

    <i class="fa-solid fa-hourglass"></i>
    <input
      type="number"
      id="duration"
      name="duration"
      placeholder="Dodaj czas trwania (min)"
      required
    />
    <span id="duration_err" class="error"></span>

    <i class="fa-regular fa-map"></i>
    <input
      type="text"
      id="location"
      name="location"
      placeholder="Dodaj lokalizację"
    />

    <i class="fa-solid fa-quote-right"></i>
    <span
      class="textarea"
      role="textbox"
      name="description"
      id="description"
      contenteditable
    ></span>
  </div>

  <button onclick="addEvent()" type="button"><h3>Dodaj wydarzenie</h3></button>
</form>
